.flash {
  position: fixed;
  z-index: 200;
  left: 50%;
  margin-left: -250px;
  padding: 20px;
  background: #eee;
  font-size: 120%;
  width: 500px;
  bottom: 32px;
  animation: flashAnimation 10s forwards;
  text-align: center;
}

@keyframes flashAnimation {
  0% { opacity: 0; } 
  15% { opacity: 1; }
  60% { opacity: 1; }
  100% { opacity: 0; }
}
.flash.alert-info,
.flash.alert-success { 
  background-color: #1e90ff;
  color: white;
}
.flash.alert-error, 
.flash.alert-danger {
  background-color: #b22222;
  color: white;
}

/* Search match */
span.match {
  font-weight:bolder;
}

/* Release history table */
.doc-table {width: 100%; border-collapse: collapse}
.doc-table, .doc-table th, .doc-table td {border: 1px solid #ddd}
.doc-table > thead > tr {background-color: #ccc}
.doc-table th, .doc-table td {padding: 5px 5px; font-size: 90%; text-align: left}
.doc-table caption {border: 1px solid #666; background-color: #666; padding: 5px 5px; font-weight: bold; color: white; letter-spacing: 2pt;}
#release-history tr:nth-child(even) {background-color: #f2f2f2}
#release-history td:nth-child(1) {width: 10%}
#release-history td:nth-child(2) {width: 15%}
#release-history td:nth-child(3) {width: 45%}
#release-history td:nth-child(4) {width: 15%}
#release-history td:nth-child(5) {width: 15%}

mark {
  background-color: inherit;
  color: inherit;
}

.mark, .mark-s {
    border-radius:4px;
#    display:inline-block;
#    font-size:1rem;
    font-weight:400;
    line-height:1;
    margin-bottom:1.125rem;
    margin-top:.4375rem;
    padding:2px 0;
    color:#fff;
    background:#141251;  
    font-weight:700;
    padding-left:7px;
    padding-right:7px;
#    text-transform:uppercase
}

.mark-s {
  padding: 0px 4px;
}

.inline-errors {
    font-size:.875rem;
    margin-top:.625rem;
    color:#d0021b;
    display:block;
}

button.action.delete {
    -webkit-box-align:center;
    -webkit-align-items:center;
    -ms-flex-align:center;
    align-items:center;
    background-color:#1b60db;
    border:0;
    -webkit-box-shadow:0 .125em 0 0 #103880;
    box-shadow:0 .125em 0 0 #103880;
    color:#fff;
    display:-webkit-inline-box;
    display:-webkit-inline-flex;
    display:-ms-inline-flexbox;
    display:inline-flex;
    -webkit-box-pack:center;
    -webkit-justify-content:center;
    -ms-flex-pack:center;
    justify-content:center;
    padding:.75em 1.25em calc(.75em - 1px);
    -webkit-transition:-webkit-box-shadow .15s ease-in-out;
    transition:-webkit-box-shadow .15s ease-in-out;
    transition:box-shadow .15s ease-in-out;
    transition:box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none
}

button.action.delete:visited{
    color:#fff
}
button.action.delete:focus{
    outline:.1875rem solid #aa3191;
    outline-offset:0
}
button.action.delete:hover{
    background-color:#1b60db;
    -webkit-box-shadow:0 .25em 0 0 #103880;
    box-shadow:0 .25em 0 0 #103880;
    cursor:pointer;
    outline:0
}